---
import BaseButton from "../components/BaseButton.astro";
import SideContent from "../components/SideContent.astro";
import TheServerSwiper from "../components/TheServerSwiper.astro";
import Layout from "../layouts/default.astro";
import DiscordLogo from "../../public/icons/discord.svg?raw";
---

<title>CryptoDisplay Bot - Track Crypto Prices On Discord</title>
<meta
  name="description"
  content="Easily track crypto prices and gas fees in Discord with CryptoDisplay. Always stay up to date with real-time data in your home currency."
/>
<meta
  name="og:title"
  content="CryptoDisplay Bot - Track Crypto Prices On Discord"
/>
<meta
  name="og:description"
  content="Easily track crypto prices and gas fees in Discord with CryptoDisplay. Always stay up to date with real-time data in your home currency."
/>
<meta name="og:image" content="https://cryptodisplay.net/logo-2.webp" />
<Layout>
  <section class="px-6 mt-12 max-w-5xl mx-auto">
    <h1 class="font-extrabold text-4xl text-center mb-4 md:text-5xl">
      Track Crypto <br /> Prices on Discord
    </h1>
    <p class="opacity-60 text-center md:mx-auto md:w-1/3 text-lg">
      Stay up to date with current crypto prices from over 11.000 different
      coins.
    </p>
    <div class="mt-10 flex flex-col gap-4 md:flex-row md:w-1/2 md:mx-auto">
      <a href="/login" class="w-full">
        <BaseButton text="Try it out now" fullWidth />
      </a>
      <a href="#features" class="w-full">
        <BaseButton text="Browse features" secondary fullWidth />
      </a>
    </div>
  </section>
  <section class="mt-16 bg-secondary py-6">
    <div>
      <p
        class="text-[#A5A5A8] text-center mb-4 font-semibold px-6 max-w-5xl mx-auto"
      >
        ✅ Trusted by <span>7.621</span> servers
      </p>
      <TheServerSwiper />
    </div>
  </section>
  <section class="px-6 mt-16 max-w-5xl mx-auto" id="features">
    <SideContent
      heading="Crypto Prices at a Glance"
      buttonText="Add to Discord"
      buttonLink="/invite"
    >
      <div slot="content">
        <p class="opacity-60">
          Quickly check the latest crypto/gas prices by opening your server. Add
          your favorite coin to CryptoDisplay for automatic updates on channels.
        </p>
      </div>
      <div slot="image">
        <img
          src="/channels-showcase.webp"
          alt="Crypto Prices at a Glance"
          width="500"
          class="rounded-xl mx-auto"
        />
      </div>
      <Fragment slot="buttonIcon" set:html={DiscordLogo} />
    </SideContent>
  </section>
  <section class="px-6 mt-16 max-w-5xl mx-auto">
    <SideContent
      heading="Over 11.000 Crypto Currencies listed"
      buttonText="Add to Discord"
      buttonLink="/invite"
      right
    >
      <div slot="content">
        <p class="opacity-60">
          Choose from a wide range of crypto currencies to track. From Bitcoin
          to Dogecoin, CryptoDisplay has them all.
        </p>
      </div>
      <div slot="image">
        <img
          src="/cryptos.webp"
          alt="Over 11.000 Crypto Currencies listed"
          class="rounded-xl"
        />
      </div>
      <Fragment slot="buttonIcon" set:html={DiscordLogo} />
    </SideContent>
  </section>
  <section class="px-6 mt-16 max-w-5xl mx-auto">
    <h2 class="font-bold text-3xl text-center mb-6 md:text-left md:text-5xl">
      About the developer
    </h2>
    <div class="flex items-center gap-4">
      <div class="p-2 bg-secondary rounded-full">
        <img
          src="/developer.webp"
          alt="Developer profile picture"
          width="80"
          class="rounded-full"
        />
      </div>
      <div>
        <h3 class="font-bold text-xl">Tim Witzdam</h3>
        <div class="flex items-center gap-1 opacity-60">
          <Fragment set:html={DiscordLogo} />
          <p>@nightslide_</p>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-16 bg-secondary py-6">
    <div class="px-6 max-w-5xl mx-auto">
      <h2 class="font-bold text-3xl text-center mb-6 md:text-4xl">
        Stay up to date.<br />All the time
      </h2>
      <div class="md:w-1/2 md:mx-auto">
        <a href="/invite">
          <BaseButton text="Add to Discord" fullWidth>
            <Fragment slot="buttonIcon" set:html={DiscordLogo} />
          </BaseButton>
        </a>
      </div>
    </div>
  </section>
</Layout>
