---
const searchID = Math.random().toString(36).substring(2, 15);
const cd_s = Astro.cookies.get("cd_s").value;

interface Props {
  searchType: "cryptos" | "currencies";
}

const { searchType } = Astro.props;
---

<script define:vars={{ searchID, cd_s, searchType }}>
  var items;
  var contentElement;
  var inputElement;
  var clearButton;

  const render = (filteredData) => {
    contentElement.innerHTML = "";
    filteredData.forEach((item, index) => {
      const li = document.createElement("li");
      li.classList.add("flex", "items-center", "gap-4", "p-4");
      if (index === 0) {
        li.classList.add("border-t-2", "border-primary");
      }
      if (index !== filteredData.length - 1) {
        li.classList.add("border-b-2", "border-primary");
      }
      if (item.image) {
        const img = document.createElement("img");
        img.src = item.image;
        img.loading = "lazy";
        img.classList.add("w-10", "h-10", "rounded-full");
        li.appendChild(img);
      }
      const span = document.createElement("span");
      span.textContent = item.value;
      li.appendChild(span);
      contentElement.appendChild(li);
    });
  };

  const handleSearch = async () => {
    const searchTerm = inputElement.value.toLowerCase();
    const response = await fetch(
      `http://127.0.0.1:5000/search/${searchType}/${searchTerm}`,
      {
        mode: "cors",
        headers: {
          Session: cd_s,
        },
      }
    );

    const data = await response.json();

    if (data.status === "ok") {
      render(data.data);
      items = data.data;
    } else {
      render([]);
    }

    // Show/hide the clear button based on input value
    clearButton.style.display = searchTerm ? "block" : "none";
  };

  const handleClear = () => {
    inputElement.value = "";
    clearButton.style.display = "none";
    render(items);
  };

  document.addEventListener("DOMContentLoaded", async () => {
    contentElement = document.getElementById(`content-${searchID}`);
    inputElement = document.getElementById("searchInput");
    clearButton = document.getElementById("clearButton");
    await handleSearch();

    inputElement.addEventListener("input", handleSearch);
    clearButton.addEventListener("click", handleClear);

    render(items);
  });
</script>

<div class="rounded-xl border-2 border-primary text-white font-semibold">
  <div class="relative">
    <input
      type="text"
      id="searchInput"
      placeholder="Search..."
      class="bg-transparent w-full focus-within:outline-none p-4"
    />
    <button
      id="clearButton"
      class="hidden absolute top-1/2 right-4 transform -translate-y-1/2 cursor-pointer w-10 h-10 bg-secondary rounded-full"
    >
      x
    </button>
  </div>
  <ul id=`content-${searchID}` class="max-h-[200px] overflow-y-scroll"></ul>
</div>
