---
const servers = [
  {
    name: "Crypto Bot",
    members: "15.000",
    image: { src: "/logo-2.webp", alt: "Crypto Bot" },
  },
  {
    name: "Crypto Bot",
    members: "15.000",
    image: { src: "/logo-2.webp", alt: "Crypto Bot" },
  },
  {
    name: "Crypto Bot",
    members: "15.000",
    image: { src: "/logo-2.webp", alt: "Crypto Bot" },
  },
  {
    name: "Crypto Bot",
    members: "15.000",
    image: { src: "/logo-2.webp", alt: "Crypto Bot" },
  },
  {
    name: "Crypto Bot",
    members: "15.000",
    image: { src: "/logo-2.webp", alt: "Crypto Bot" },
  },
  {
    name: "Crypto Bot",
    members: "15.000",
    image: { src: "/logo-2.webp", alt: "Crypto Bot" },
  },
  {
    name: "Crypto Bot",
    members: "15.000",
    image: { src: "/logo-2.webp", alt: "Crypto Bot" },
  },
];
---

<script>
  import Swiper from "swiper";
  import "swiper/css";
  import { Autoplay } from "swiper/modules";
  import "swiper/css/navigation";
  import type { SwiperOptions } from "swiper/types";

  Swiper.use([Autoplay]);

  // Function to update Swiper's slidesPerView based on screen width
  function updateSwiperSlidesPerView() {
    const newSlidesPerView =
      window.innerWidth >= 1280
        ? 4.5
        : window.innerWidth >= 800
        ? 3.2
        : window.innerWidth >= 640
        ? 2.2
        : 1.2;
    swiper.params.slidesPerView = newSlidesPerView;
    swiper.update();
  }

  const swiperParams: SwiperOptions = {
    observer: true,
    observeParents: true,
    parallax: true,
    slidesPerView:
      window.innerWidth >= 1280
        ? 4.5
        : window.innerWidth >= 800
        ? 3.2
        : window.innerWidth >= 640
        ? 2.2
        : 1.2,
    spaceBetween: 30,
    rewind: true,
    autoplay: {
      delay: 2000,
      disableOnInteraction: false,
    },
  };

  let swiper = new Swiper(".mySwiper", swiperParams);

  // Add a resize event listener to update the slidesPerView when the screen size changes
  window.addEventListener("resize", updateSwiperSlidesPerView);
</script>

<div class="flex items-center swiper mySwiper">
  <div class="swiper-wrapper">
    {
      servers.map((server) => (
        <div class="swiper-slide">
          <div class="border-2 border-primary p-4 flex items-center gap-4 rounded-xl">
            <img
              src={server.image.src}
              alt={server.image.alt}
              class="rounded-full"
              width="50"
            />
            <div>
              <p class="font-semibold text-lg leading-5">{server.name}</p>
              <p class="opacity-60">{server.members} Members</p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
