---
import BaseButton from "../components/BaseButton.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="bg-[#2C2E3A]">
    <header>
      <div class="flex justify-between items-center px-6">
        <img
          src="/logo.webp"
          alt="CryptoDisplay Logo"
          width="200"
          height="52"
        />
        <BaseButton text="Login" />
      </div>
    </header>
    <main class="min-h-screen">
      <div
        class="h-full w-full absolute top-0 left-0 -z-10"
        style="background: linear-gradient(147deg, rgba(56, 62, 96, 0.62) 9.29%, #2C2E3A 40%);"
      >
      </div>
      <slot />
    </main>
    <footer class="bg-secondary mt-16">
      <div
        class="flex flex-col gap-6 justify-between max-w-5xl mx-auto px-6 py-12 sm:flex-row"
      >
        <div class="flex flex-col justify-center gap-6 lg:flex-row">
          <div class="flex flex-col">
            <p class="mb-2 text-xl font-bold">Pages</p>
            <a href="/" class="opacity-60 hover:opacity-100 transition-opacity"
              >Home</a
            >
          </div>
        </div>
      </div>
      <div class="bg-secondary min-w-screen p-5 text-black">
        <div class="max-w-5xl mx-auto flex items-center">
          <img
            src="/developer.webp"
            alt="Tim Witzdam"
            width="50"
            height="50"
            class="w-10 mr-4 rounded-full"
          />
          <p class="text-sm opacity-60">
            © 2023 Tim Witzdam. All rights reserved.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  * {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    color: white;
  }
</style>
