---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <main class="min-h-screen bg-[#2C2E3A]">
      <div
        class="h-full w-full absolute top-0 left-0"
        style="background: linear-gradient(147deg, rgba(56, 62, 96, 0.62) 9.29%, #2C2E3A 40%);"
      >
      </div>
      <slot />
    </main>
  </body>
</html>
